<div class="col-12 mx-5">
    <h2>Companies Recommended for You</h2>

    <div class="d-flex flex-wrap flex-row mt-4">
        <div class="col-5 shadow m-3 p-3" *ngFor="let com of results">
            <div>
                <div>
                    <div class="d-inline-block">
                        <span [routerLink]="['/companies', com.uid]" class="cursor-pointer">
                            <strong>{{ com.name }}</strong>
                        </span>
                        <div class="review">
                            <strong>3.1 ★</strong>
                        </div>
                    </div>
                    <div class="cursor-pointer d-inline-block float-right">
                        <img [routerLink]="['/companies', com.uid]" [alt]="com.name" src="../../../favicon.ico"
                            width="70" height="70">
                    </div>
                </div>

                <div class="gray-text">
                    <small>
                        <span>14 </span>Jobs
                        <div class="d-inline-block dot mx-1">
                        </div>
                        <span>51 </span>Reviews
                    </small>
                    <div class="mt-2">{{ com.desc }}</div>
                </div>
            </div>
        </div>
    </div>
</div>