.gray-text {
    color: #505863;
}

.cursor-pointer {
    cursor: pointer;
}

.dot {
    background-color: rgb(133, 140, 148);
    border-radius: 50%;
    height: 4px;
    vertical-align: middle;
    width: 4px;
}

.review {
    color: rgb(12, 170, 65);
}

.d-inline-block {
    display: inline-block;
}
